@media screen and (max-width: 1100px) {
  .container {
    max-width: 1100px;
  }

  #landing {
    min-height: 80vh;
    padding: 0;
  }

  #landing .row-reverse .circle {
    height: 400px;
    width: 400px;
    margin: 3rem 0px 6rem;
  }

  #presentation .grid-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  #presentation .grid-layout div {
    width: 100%;
  }

  #presentation .grid-layout h2 {
    text-align: center;
    margin-bottom: 6rem;
  }

  #presentation .grid-layout p {
    width: 100%;
    max-width: unset;
  }

  #presentation .grid-layout figure {
    margin-bottom: 4rem;
  }
}
