@media screen and (max-width: 500px) {
  button span {
    margin-right: 0;
  }
  h1 {
    font-size: 2.4rem;
    line-height: 3.1rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    word-break: none;
    -webkit-hyphens: none;
        -ms-hyphens: none;
            hyphens: none;
  }
  h2 {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-top: 2.2rem;
    word-break: break-word;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
  }
  h2.text-center {
    text-align: center;
  }
  h3 {
    margin-left: auto;
    margin-right: auto;
  }
  img {
    max-width: 100vw !important;
  }
  section,
  section.container {
    padding-top: 2.5rem;
    padding-bottom: 3.5rem;
  }
  .dotlist {
    margin-left: 1.5rem;
  }
  .container {
    padding: 15px 0;
  }
  .grid-layout {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
  }
  .text-center {
    text-align: left;
  }
  .column p:first-child {
    margin-top: 1rem;
  }
  .container p,
  .container h1,
  .container h2,
  .container h3,
  .column h1,
  .column h2,
  .column h3,
  .grid-layout h1,
  .grid-layout h2,
  .grid-layout h3,
  h3 {
    width: 93%;
  }
  p {
    line-height: 2.05rem;
    margin-bottom: 1rem;
    text-align: left;
    font-size: 1.25rem;
  }
  strong {
    margin-bottom: 1rem;
  }
  section h2 {
    margin-top: 3rem;
  }
  footer .wrapper a,
  footer .wrapper li {
    line-height: 3rem;
    margin-right: 0;
    font-size: 1.4rem;
    font-weight: 600;
  }
  footer .wrapper li .title {
    font-size: 1.5rem;
    margin-bottom: 3.5rem;
    line-height: 1.5rem;
  }
  footer .wrapper ul {
    margin-top: 85px;
  }
  .picture-panorama-medium {
    height: 190px;
  }
  .picture-panorama-medium div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .picture-panorama-medium img,
  .picture-panorama-medium div {
    max-width: unset;
  }
  .picture-panorama-medium img {
    height: 100%;
    width: initial;
    max-width: unset !important;
  }
  .picture-panorama {
    height: 250px;
  }
  .parallax_container {
    overflow-y: unset;
    height: 250px;
  }
  .parallax_picture img {
    width: 170vw;
    max-height: 100%;
    top: unset;
    -webkit-transform: unset;
            transform: unset;
  }
  #landing p {
    text-align: center;
    margin-bottom: 2rem;
  }
  #presentation .grid-layout figure {
    margin-bottom: 2rem;
  }
  #presentation .grid-layout h2 {
    margin-bottom: 2rem;
  }
  #landing .slogan {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    line-height: 3rem;
  }
  #landing .row-reverse .column {
    margin-bottom: 0;
  }
  #landing .row-reverse .circle {
    width: 80vw;
    height: 80vw;
  }
  #chantier h2 {
    width: 100% !important;
  }
  #chantiers .picture {
    height: 200px;
  }
  #projets .wrapper {
    -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  #presentation figure {
    margin-bottom: 0;
  }
  #presentation .grid-layout {
    margin-bottom: 0;
  }
  #skills button {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  #stats .column h3 {
    text-align: center;
  }
  #realisations .container .row {
    margin-top: 2rem;
  }
  #realisations .container h2 {
    margin-bottom: 2rem;
  }
  #contactus {
    margin-top: 2rem;
  }
  #projet h1 {
    margin-top: 3rem;
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
  #projet h1 {
    margin-top: 3rem;
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
  .post img {
    width: unset !important;
    min-width: unset !important;
    max-width: unset !important;
    min-height: unset !important;
    max-height: unset !important;
    height: 100% !important;
  }
  .bigarticle .title {
    font-size: 2.5rem;
    line-height: 2.8rem;
  }
  .bigarticle p img {
    height: unset;
    margin-top: 0;
  }
  .bigarticle p {
    margin-bottom: 1.5rem;
  }
  .bigarticle .body {
    margin-top: 3rem;
  }
  .bigarticle ul {
    margin-top: 2.5rem;
    margin-bottom: 2rem;
  }
  .bigarticle li {
    padding-left: 0.5rem;
  }
  .bigarticle h2 {
    text-align: left;
  }
  .bigarticle h3 {
    margin-top: 3rem;
    margin-bottom: 0.8rem;
  }
  .post a {
    height: 290px !important;
    overflow: hidden;
  }
  .faq-item {
    width: 100%;
  }
  .faq-item .title {
    padding: 18px 18px;
  }
  .faq-item .description {
    padding: 10px 20px;
    margin-bottom: 10px;
    margin-top: 0;
  }
  #faq .faq-item .description {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
  #faq .mt-7 {
    margin-top: 3rem !important;
  }
  #services h1 {
    text-align: center;
  }
  #services .picture-panorama-medium {
    margin-top: 2rem;
  }
  #about h1,
  #about h2 #about .item p,
  #about .container,
  #contact h1 {
    text-align: center !important;
  }
  #about .item p {
    text-align: center;
  }
  #ourservices {
    padding-top: 1rem;
  }
  #ourservices .wrapper {
    margin-top: 4.5rem;
    margin-bottom: 0;
  }
  #ourservices .grid-layout {
    margin-top: 0.5rem;
  }
  #services .grid-layout h3 {
    margin-left: auto;
  }
  #contact p {
    margin-bottom: 2rem;
    text-align: center;
  }
  #mentions-legales span {
    margin-bottom: 0;
  }
  #consent {
    background: white;
  }
  #stats .circle {
    margin-bottom: 0.8rem;
  }
  .accesrapide p {
    text-align: center;
  }
  .filarianne {
    margin-bottom: 2rem;
  }
  .filarianne .item a {
    font-size: 1.2rem;
    line-height: 1.3rem;
  }
  #contactus {
    width: 100%;
    max-width: 85vw;
    padding: 10px 25px 30px;
  }
  #contactus p,
  #contactus button {
    font-size: 1.1rem;
    text-align: center;
    line-height: 1.5rem;
  }
  #contactus button {
    width: 100%;
  }
  #projet .container {
    max-width: 90%;
  }
}
/*# sourceMappingURL=500.css.map */