#faq {
    max-width: 800px;
    margin: auto;
}

#faq .filarianne {
    margin-bottom: 0;
}

.faq-item {

    border-radius: 20px;
    border: 2px solid $color-text;
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    box-sizing: border-box;
    width: 90%;
    user-select: none;
    overflow: hidden;
}

.faq-item .title {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 600;
    height: 100%;
    width: 100%;
    cursor: pointer;
    padding: 25px 30px;
    box-sizing: border-box;
    border-radius: 20px 20px 0 0;
    background-color: $color-white-medium;
}

.faq-item .title span {
    margin-right: 15px;
}

.faq-item .title:hover {
    background-color: $color-white-medium2;
}

.faq-item .description {
    font-weight: 500;
    margin-bottom: 2.2rem;
    font-size: 1.3rem;
    line-height: 2.1rem;
    font-weight: 500;
    padding: 15px 40px;
}

.faq-item .description p {
    line-height: 1.9rem;
}