#mentions-legales h2 {
    font-size: 2.2rem;
    margin-bottom: 3rem;

}

#mentions-legales h3 {
    text-transform: none;
    font-size: 1.45rem;
    line-height: 1.6rem;
    margin-right: 40px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;

}

#mentions-legales .wrapper {
    margin: auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-content: center;
}

#mentions-legales .row {
    display: grid;
    margin: 10px 0;
    width: 100%;
    max-width: 800px;
    text-align: center;
}

#mentions-legales .row h3 {
    margin-bottom: 1.5rem;
    width: 100%;
}


#mentions-legales span {
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.6rem;
    margin-bottom: 2.5rem;
}