#renovation-globale {
  #cover {
    height: 500px;
    margin-bottom: 3rem;
  }

  .tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      margin-top: 0;
    }
  }

  h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }

  #works {
    padding-top: 0;
    .wrapper {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
      row-gap: 10px;
      column-gap: 10px;
      justify-content: flex-start;
      align-items: flex-start;

      .item {
        width: 100%;
        height: 100%;
        padding: 20px 25px 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: $color-white-medium2;
        border-radius: 30px;
        cursor: pointer;
        transition: all 0.2s ease;
        position: relative;

        hr {
          margin-top: 2rem;
          margin-bottom: 0;
          background: $color-text;
          opacity: 0.05;
          width: 100%;
        }

        h3 {
          margin-top: 1rem;
          margin-bottom: 0;
          text-align: center;
        }

        &:hover {
          transform: scale(1.01);
          background: darken($color-white-medium2, 10);
        }
        .open-link {
          position: absolute;
          top: 30px;
          right: 30px;
        }
      }
    }
  }

  // //////////// //////////////////////

  #who {
    .column {
      align-items: center;
      h3 {
        margin-top: 0;
      }
    }
  }

  #financement {
    padding-bottom: 0;
    figure {
      overflow: visible;
    }
    figure#tertiaire {
      overflow: hidden;
      height: 300px;
    }
  }

  #ampoule {
    position: relative;
  }
}
