/// COLORS
$color-white: #ffffff;

$color-white-medium: #e5e5e5;
$color-white-medium2: #f5f5f5;
$color-white-medium3: #f7f7f7;
$color-white-medium4: #efefef;
$color-white-medium5: #f0f0f0;

$color-text: #272b3a;
$color-secondary: #313131;
$color-main: #ffbb00;
$color-pop: #fc9a38;
$color-dark1: #1d1d1d;
$color-dark2: #353535;

//// TEXTS

$font-main: "Montserrat", sans-serif;
$font-secondary: "Raleway", sans-serif;

//// WIDTH

$container-width: 1300px;
$container-wide-width: 1300px;
$container-medium-width: 800px;
